@import 'platform.css';

Page {
    background-color: #F8DECF;
} 
.action-bar {
    background-color:#F67982;
    color: #FAEEC3;
}   
.btn {
    border-width: 5;
    border-color: lightgray;
    color: lightgray;
    background-color: white;
    border-radius: 50;
    width: 100;
    height: 100;
}
.btnsm{
    border-width: 5;
    border-color: lightgray;
    color: lightgray;
    background-color: white;
    border-radius: 20;
    width: 40;
    height: 40;
}
.b1 {
    background-color: #FFCCDA;
}
.b2 {
    background-color: #FAEEC3;
}
.b3 {
    background-color: #F67982;
}
.b4 {
    background-color: #FFA1A1;
}
.b5 {
    background-color: #FACBAA;
}
.b6 {
    background-color: #F67982;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
  font-size: 30;
}

.fa-small{
  font-family: FontAwesome, fontawesome-webfont;
  font-size: 20;
}
